<div class="row">

	<div class="col-md-12">

		

		<div class="row">

			<!-- Loop imagens principais -->
			<div class="col-md-3 mb-4">

				<img class="img-fluid" src="https://ccgc.com.br/gestao/bloco-home/imagem?image=institucional/maosunidas.jpg&x=250&y=250">
				<input class="form-control" placeholder="descrição">
				<input class="form-control" placeholder="posição">

				<div class="row" style="padding-top:10px">

					<div class="col-md-6">
						<input type="radio"> Princi.
					</div>
					<div class="col-md-6 text-right">
						<!--
						<a href="#">
							<i class="fa fa-angle-up" style="font-size:22px"></i>
						</a>
						<a href="#">
							<i class="fa fa-angle-down" style="font-size:22px"></i>
						</a>
						-->
						

						<a href="#">
							<i class="flaticon-delete"></i>
						</a>
					</div>

				</div>
			</div>
			<!-- fim Loop -->


			<div class="col-md-12">
				<br>
				<button class="btn btn-info">
					<i class="flaticon-plus"></i>
				</button>
			</div>
			
		</div>
		
	
	</div>


</div>