{% extends "gestao.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div class="m-grid__item m-grid__item--fluid m-wrapper">

	<div class="m-content">

		<div class="row">

			<div class="col-xl-12">

				<div class="m-portlet">

					<div class="m-portlet__head">
						
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<h3 class="m-portlet__head-text">
									Adicionar Notícia
								</h3>
							</div>
						</div>

						<div class="m-portlet__head-tools">
							<a href="{% url "gestao:noticias:lista" %}"> <i class="flaticon-reply"></i> Voltar</a>
						</div>

					</div>

					<div class="m-portlet__body">

						<!--begin::Section-->
						<div class="m-section">
							<div class="m-section__content">

								<div class="m-portlet__body">

									<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
										<li class="nav-item">
											<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Dados principais</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Imagens principais</a>
										</li>
									</ul>

									<div class="tab-content" id="pills-tabContent">
										<br>
										<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
											
											{% include "noticias/_form.html" %}

										</div>
										
										<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
											{% include "noticias/_imagens.html" %}
										</div>
										
									</div>

								</div>


								<!--
								<div class="m-portlet__foot m-portlet__foot--fit">
									<div class="m-form__actions m-form__actions">
										<button type="reset" class="btn btn-primary">Salvar</button>
									</div>
								</div>
								-->
								
							</div>
						</div>

						<!--end::Section-->
					</div>

				</div>

			</div>

		</div>


	</div>
</div>


{% endblock content %}

{% block js_extras %}

	<script>

		$(document).on('click', '#mostrar-configuracoes-avancadas', function(){
			
			if($(this).is(":checked")){
				
				$(".configuracoes-avancadas").show();
				return
			}

			$(".configuracoes-avancadas").hide();

		})

		tinymce.init({
			selector: '#text',
			height: 800,
			menubar: false,
			language: 'pt_BR',
			browser_spellcheck: true,
			spellchecker_language: 'pt_BR',
			plugins: [
				'link image imagetools table media code preview tinymcespellchecker '
			],

			toolbar: 'undo redo | media | code  | preview | formatselect | tinymcespellchecker | ' +
			'bold italic backcolor | alignleft aligncenter ' +
			'alignright alignjustify | bullist numlist outdent indent | ' +
			'removeformat | help',
		})

		document.getElementById('text').removeAttribute("required")

	</script>

{% endblock %}